.card{
  width: 70%;
  margin: auto auto;
  border: 1pt solid black;
  padding: 20px;
  padding-bottom: 50px;
  background-color: #f5ea97;
}
.card-content{
  border-radius: 25px;
  border: .5pt solid black;
  width: 90%;
  margin:auto auto;
  margin-top: 50pt;
  background-color: #fff1c6;
  padding: 50px;
}
