.container{
  width: 70%;
  margin: auto auto;
  border: 1pt solid black;
  padding: 20px;
  padding-bottom: 50px;
  background-color: #f5ea97;
}
#results {
  width: 45%;
  padding-left: 20px;
  border-left: 2px solid #65d781;;
  margin-top: 20px;
}

#results h2 {
  color: #387d49;
  font-size: 36px;
}

#results span {
  font-size: 48px;
  color: #387d49;
}
.calculator-container {
  border: 1pt solid black;
  width: 70%;
  margin: auto auto;
  background-color: #fff1c6;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.calculator-container form {
  width: 45%;
  padding-left: 50px;
}

.results-header{
  font-size: 30px;
}

#error-message {
  width: 100%;
}

button{
  font-size: 12pt;
}

.warn{
  color: red;
  padding: 15px;
  text-align: center;
}
#error-message{
  background-color: white;
  border: 2pt solid #387d49;

}

