<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<div class="card-container">
    <mat-card-title style="text-align: center;"><h1>How to Reach Us</h1></mat-card-title>
    <div fxLayout="row wrap" >

      <div fxFlex >
        <mat-card class="mat-card">
          <mat-card-title class="card-title-icon">
              <mat-icon color="primary" class="material-symbols-outlined">home</mat-icon>
              <h2 style="text-align: center;">Send Us Stuff</h2>
          </mat-card-title>
          <br />
          <mat-card-content class="align-center">
            <p>1543 Banking Boulevard</p>
            <p>Burbank, California 96145</p>
            <p>United States</p>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex>
        <mat-card class="mat-card">
          <mat-card-title class="card-title-icon">
            <mat-icon color="primary" class="material-symbols-outlined">call</mat-icon>
            <h2 style="text-align: center;">Give Us a Shout</h2>
          </mat-card-title>
          <br />
          <mat-card-content class="align-center">
            <p>Direct: 555-555-5555</p>
            <p>Toll-free: 1-800-555-5555</p>
            <p>Email: LoanWiseStaff@loanwise.com</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <br /><br /><br /><br />

    <div fxLayout="column">
        <p style="text-align: center">
            GPA Calculator is a free app and made possible by user support. Please consider making a donation.
        </p>
    </div>
</div>
