@import './theme';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&family=Raleway:ital,wght@0,100;0,300;1,500&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Josefin Sans', sans-serif;
  font-family: 'Raleway', sans-serif; }
